In [8]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
import datetime as dt

In [9]:
data = pd.read_csv("C://Users/zihyu/Desktop/새 폴더 (4)/04_음식관련 카드소비_CARD_SPENDING.csv", encoding = 'cp949')

data

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
0,2018-01-06,제주시,50110650,연동,C00100,한식,3643,127777300
1,2018-01-09,제주시,50110650,연동,C00500,패스트푸드,432,6711675
2,2018-01-15,제주시,50110650,연동,C01200,농축수산물,236,16089579
3,2018-01-15,제주시,50110650,연동,A00200,마트/슈퍼마켓,4031,121979867
4,2018-01-20,제주시,50110650,연동,C01000,식품,633,30410674
...,...,...,...,...,...,...,...,...
544800,2020-10-16,제주시,XXXXXXXX,알수없음,C01400,배달,5,127250
544801,2019-08-31,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,39974
544802,2020-10-03,서귀포시,XXXXXXXX,알수없음,C01400,배달,10,329832
544803,2020-10-23,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,68715
544804,2020-12-21,제주시,XXXXXXXX,알수없음,C01400,배달,10,187452

In [10]:
data['hc_pick'] = data['use_amt']/data['use_cnt']

data = data.drop(columns=['city', 'base_date', 'emd_cd', 'mct_cat_cd', ], axis=1)

In [11]:
data

       emd_nm mct_cat_nm  use_cnt    use_amt       hc_pick
0          연동         한식     3643  127777300  35074.746088
1          연동      패스트푸드      432    6711675  15536.284722
2          연동      농축수산물      236   16089579  68176.182203
3          연동    마트/슈퍼마켓     4031  121979867  30260.448276
4          연동         식품      633   30410674  48042.139021
...       ...        ...      ...        ...           ...
544800   알수없음         배달        5     127250  25450.000000
544801   알수없음         배달        5      39974   7994.800000
544802   알수없음         배달       10     329832  32983.200000
544803   알수없음         배달        5      68715  13743.000000
544804   알수없음         배달       10     187452  18745.200000

[544805 rows x 5 columns]

In [21]:
df = data.groupby(['emd_nm', 'mct_cat_nm']).sum()
df

                   use_cnt      use_amt       hc_pick
emd_nm mct_cat_nm
건입동    간식           193332   2323951584  1.529144e+07
       농축수산물         90610   8451532877  1.185525e+08
       마트/슈퍼마켓      775608  25330854527  4.144095e+07
       배달           118563   2754741956  2.850401e+07
       부페             2331    217556887  3.493996e+07
...                    ...          ...           ...
효돈동    아시아음식         27886   1155078340  5.260818e+07
       양식            10213    388501125  3.800663e+07
       주점및주류판매        4485    188596241  2.626832e+07
       패스트푸드         55823    976563611  2.233115e+07
       한식           277258   9895672213  4.575063e+07

[484 rows x 3 columns]

In [24]:


idx = df[df['mct_cat_nm'] == ['한식', '양식', '아시안음식', '간식', '패스트푸드', '부페', '주점 및 주류판매']].index

KeyError: 'mct_cat_nm'