In [131]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
import os
import matplotlib.pyplot as plt

if os.name == 'posix':

    plt.rc("font", family="AppleGothic")

else :
    plt.rc("font", family="Malgun Gothic")
    
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
import matplotlib as mpl

pd.set_option('display.precision', 4)

In [132]:
df = pd.read_csv("C://Users/zihyu/Desktop/새 폴더 (4)/최종3.csv", encoding = 'cp949')
df.head()

,em_t,base_month,emd_nm,area,em_area_cd_cnt,resid_reg_pop,foreign_pop,d_visit_pop_cnt,l_visit_pop_cnt,s_visit_pop_cnt,pre_mm
0,43.58,1,건입동,2.53,30,9394.50,246.25,25742.09,819.21,515.95,85.30
1,11.55,1,구좌읍,185.93,104,15552.25,600.75,27391.16,739.62,256.40,59.80
2,53.27,1,남원읍,188.71,51,18941.00,720.75,30383.79,1325.47,785.10,69.90
3,251.83,1,노형동,45.21,161,54146.00,2079.50,80644.43,2537.05,1758.83,79.20
4,52.89,1,대륜동,22.24,36,14229.75,199.75,33917.93,704.69,243.59,70.80

In [133]:
df['base_month'] = df['base_month'].astype(str)
df_1 = pd.get_dummies(df, columns = ['base_month'])
df_1 = pd.get_dummies(df_1, columns = ['emd_nm'])

In [134]:
StrA = " + ".join(df.columns)

In [135]:
X = df_1.iloc[:,1:]
Y = df_1.iloc[:,0]

In [136]:
X

,area,em_area_cd_cnt,resid_reg_pop,foreign_pop,d_visit_pop_cnt,l_visit_pop_cnt,s_visit_pop_cnt,pre_mm,base_month_1,base_month_10,...,emd_nm_정방동,emd_nm_조천읍,emd_nm_중문동,emd_nm_중앙동,emd_nm_천지동,emd_nm_표선면,emd_nm_한경면,emd_nm_한림읍,emd_nm_화북동,emd_nm_효돈동
0,2.53,30,9394.50,246.25,25742.09,819.21,515.95,85.30,1,0,...,0,0,0,0,0,0,0,0,0,0
1,185.93,104,15552.25,600.75,27391.16,739.62,256.40,59.80,1,0,...,0,0,0,0,0,0,0,0,0,0
2,188.71,51,18941.00,720.75,30383.79,1325.47,785.10,69.90,1,0,...,0,0,0,0,0,0,0,0,0,0
3,45.21,161,54146.00,2079.50,80644.43,2537.05,1758.83,79.20,1,0,...,0,0,0,0,0,0,0,0,0,0
4,22.24,36,14229.75,199.75,33917.93,704.69,243.59,70.80,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,135.16,47,12327.67,418.00,15578.40,425.34,347.10,64.40,0,0,...,0,0,0,0,0,1,0,0,0,0
454,79.10,70,9051.67,373.00,8687.56,413.23,80.90,51.40,0,0,...,0,0,0,0,0,0,1,0,0,0
455,91.09,110,21307.67,3589.67,22104.18,1549.58,362.10,60.70,0,0,...,0,0,0,0,0,0,0,1,0,0
456,8.29,74,24765.33,395.00,27358.73,250.39,35.78,58.00,0,0,...,0,0,0,0,0,0,0,0,1,0
457,6.60,20,5274.00,77.67,5091.10,109.71,26.14,64.10,0,0,...,0,0,0,0,0,0,0,0,0,1

In [137]:
Y

0      43.58
1      11.55
2      53.27
3     251.83
4      52.89
       ...
453    23.30
454     7.56
455    32.50
456   113.14
457    15.25
Name: em_t, Length: 458, dtype: float64

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=19)

In [139]:
# 회귀 분석 객체 생성(선형 회귀 모델 생성)
lr = linear_model.LinearRegression()

#fit()는 기울기와 절편을 전달하기 위함.
model = lr.fit(X_train, y_train)

# 학습된 계수를 출력합니다.
print(lr.coef_)

[ 5.04989640e+07  6.26231629e-01 -2.26934440e-04  1.15551902e-02
 -1.21012330e-04  1.94033980e-03 -1.03279948e-03 -1.41808391e-03
 -3.74922752e+00 -6.41238713e+00 -6.89463601e+00 -2.36414492e+00
 -8.38587481e+00 -4.81915665e+00 -8.50617868e+00 -3.69986461e+00
 -3.31266046e+00  6.85732837e+00  5.54227635e+00 -4.16337729e+00
  2.15362932e+09 -7.10788076e+09 -7.24826781e+09 -1.66634372e+06
  1.15829475e+09 -1.68934185e+09 -5.68769822e+08  2.07788085e+09
  1.55925656e+09 -1.09229284e+08  2.21725804e+09  2.23947756e+09
  1.80013661e+09  1.53855195e+09 -2.31855896e+09  2.03899666e+09
 -1.28585509e+09 -3.05129894e+09 -7.92747895e+09 -5.82253197e+07
  3.97780323e+08  8.30051464e+08  2.15211439e+09  2.25058733e+09
  2.03243182e+09  2.24654742e+09  2.00869744e+09  2.15211433e+09
  2.26472703e+09  2.17130405e+09  2.25917215e+09 -5.32375236e+09
 -5.68769822e+08  2.26371708e+09  2.21119814e+09 -4.54404831e+09
 -1.71307642e+09 -2.31855903e+09  1.86275533e+09  1.94809852e+09]

In [146]:
test = pd.read_csv("C://Users/zihyu/Desktop/새 폴더 (4)/78.csv", encoding = 'cp949')
test

,base_month,emd_nm,area,em_area_cd_cnt,resid_reg_pop,foreign_pop,d_visit_pop_cnt,l_visit_pop_cnt,s_visit_pop_cnt,pre_mm,base_month_1,base_month_10,base_month_11,base_month_12,base_month_2,base_month_3,base_month_4,base_month_5,base_month_6
0,7,건입동,2.53,30,8863.09,226.59,6504.78,214.63,1.48,246.10,0,0,0,0,0,0,0,0,0
1,7,구좌읍,185.93,104,15401.00,548.30,8437.43,206.88,1.66,235.40,0,0,0,0,0,0,0,0,0
2,7,남원읍,188.71,51,18714.16,625.33,6904.49,225.50,42.44,280.50,0,0,0,0,0,0,0,0,0
3,7,노형동,45.21,161,55434.17,2081.23,19582.41,670.40,4.56,246.10,0,0,0,0,0,0,0,0,0
4,7,대륜동,22.24,36,15094.48,192.24,7743.96,156.50,2.40,294.50,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,8,한경면,79.10,69,9123.75,344.15,4060.11,287.14,1.02,195.80,0,0,0,0,0,0,0,0,0
77,8,한림읍,91.09,110,21223.46,3192.08,9391.73,559.45,2.41,185.00,0,0,0,0,0,0,0,0,0
78,8,화북동,8.29,76,24258.29,317.66,8712.66,76.52,0.45,226.80,0,0,0,0,0,0,0,0,0
79,8,효돈동,6.60,19,5257.00,55.78,1569.59,32.91,0.28,317.40,0,0,0,0,0,0,0,0,0
80,9,효돈동,6.60,19,5257.00,55.78,1569.59,32.91,0.28,317.40,0,0,0,0,0,0,0,0,0

In [147]:
x_new = pd.get_dummies(test, columns = ['base_month'])
x_new = pd.get_dummies(x_new, columns = ['emd_nm'])
x_new

,area,em_area_cd_cnt,resid_reg_pop,foreign_pop,d_visit_pop_cnt,l_visit_pop_cnt,s_visit_pop_cnt,pre_mm,base_month_1,base_month_10,...,emd_nm_정방동,emd_nm_조천읍,emd_nm_중문동,emd_nm_중앙동,emd_nm_천지동,emd_nm_표선면,emd_nm_한경면,emd_nm_한림읍,emd_nm_화북동,emd_nm_효돈동
0,2.53,30,8863.09,226.59,6504.78,214.63,1.48,246.10,0,0,...,0,0,0,0,0,0,0,0,0,0
1,185.93,104,15401.00,548.30,8437.43,206.88,1.66,235.40,0,0,...,0,0,0,0,0,0,0,0,0,0
2,188.71,51,18714.16,625.33,6904.49,225.50,42.44,280.50,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45.21,161,55434.17,2081.23,19582.41,670.40,4.56,246.10,0,0,...,0,0,0,0,0,0,0,0,0,0
4,22.24,36,15094.48,192.24,7743.96,156.50,2.40,294.50,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,79.10,69,9123.75,344.15,4060.11,287.14,1.02,195.80,0,0,...,0,0,0,0,0,0,1,0,0,0
77,91.09,110,21223.46,3192.08,9391.73,559.45,2.41,185.00,0,0,...,0,0,0,0,0,0,0,1,0,0
78,8.29,76,24258.29,317.66,8712.66,76.52,0.45,226.80,0,0,...,0,0,0,0,0,0,0,0,1,0
79,6.60,19,5257.00,55.78,1569.59,32.91,0.28,317.40,0,0,...,0,0,0,0,0,0,0,0,0,1
80,6.60,19,5257.00,55.78,1569.59,32.91,0.28,317.40,0,0,...,0,0,0,0,0,0,0,0,0,1

In [148]:
y_new = model.predict(x_new)

In [149]:
y_new

array([ 54.25277281,  23.70575428,  62.12183285, 264.77859926,
        61.41584778,  87.66668892,  63.05145979,  28.08283806,
       115.96186638,  26.35412741,  77.46032715,  49.64547873,
       111.75281858,  53.98521519,  52.35125828,  35.61591005,
       132.66641521,  38.40656424,  48.61981297,  39.70656252,
        26.7679677 ,  72.37356853, 108.23991632,  47.32449102,
        80.55246687,  57.523736  , 248.19640064,  30.95270252,
        30.22511244, 172.07680798,  34.63872671,  32.65324688,
        66.2844038 ,  56.91173601,  41.89195442,  35.06169701,
        16.46172047,  35.52766991, 124.35661268,  23.4438982 ,
        52.98758221,  22.31361866,  60.73025036, 263.40024996,
        60.05141687,  86.19361353,  61.70032549,  26.76421642,
       114.35261488,  25.07591295,  76.18004417,  48.37282515,
       110.47624731,  52.48930931,  50.40887833,  34.17927074,
       131.12554646,  36.90426588,  47.29438114,  38.22399521,
        25.21826172,  71.06091213, 106.87326908,  46.04159212,
        79.23730755,  56.24433994, 246.79018021,  29.55961227,
        28.94096756, 170.80734921,  33.18446732,  31.30283928,
        64.82232094,  55.45140982,  40.418262  ,  33.47489738,
        15.04606152,  34.02948284, 123.01348782,  21.98268032,
        12.27702665])

오라동     12
천지동     12
화북동     12
건입동     12
대륜동     12
동홍동     12
도두동     12
영천동     12
봉개동     12
대정읍     12
표선면     12
이호동     12
외도동     12
한경면     12
조천읍     12
이도1동    12
삼양동     12
중앙동     12
용담1동    12
중문동     12
대천동     12
정방동     12
송산동     12
서홍동     12
예래동     12
삼도1동    12
일도1동    12
일도2동    12
삼도2동    12
효돈동     12
성산읍     11
구좌읍     11
남원읍     11
한림읍     11
아라동     11
노형동     11
안덕면     11
용담2동     9
이도2동     7
애월읍      5
Name: emd_nm, dtype: int64